[access]
	inheritFrom = chromium
[submit]
	action = inherit
[access "refs/*"]
	owner = group mdb/chrome-git-admins
[access "refs/for/refs/*"]
	addPatchSet = group v8-committers
[access "refs/heads/*"]
	abandon = group v8-committers
	label-Code-Review = -1..+1 group v8-committers
	submit = group v8-committers
